/*animation time must be relevant to jquery animation*/
/*reset browser specific padding and margins*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Lato", sans-serif; }

body {
  padding-left: 30vw;
  padding-right: 30vw;
  font-size: 1.2rem;
  color: #979797; }

.main-container {
  padding: 3rem; }

/*top box section - - - - - -- - - - - - - - ----------*/
.topheader-arrowbox {
  text-align: center;
  background-color: #4b4b4b;
  color: white;
  position: relative;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px; }

.topheader-arrowbox:after {
  top: 100%;
  left: 80%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  /*for all major browsers*/
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  -moz-animation: width 2s;
  -o-animation: width 2s;
  -ms-transition: width 2s;
  animation: width 2s;
  transition: width 2s; }

.topheader-arrowbox.changed:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.topheader-arrowbox:after {
  border-top-color: #4b4b4b;
  border-width: 10px;
  margin-left: -10px; }

#days {
  color: #f16a44;
  font-weight: bold; }

/*progress bar -----*/
#progressbar {
  border-top: 2px #e0e0e0 solid;
  border-left: 2px #e0e0e0 solid;
  border-right: 2px #e0e0e0 solid; }

#progbarinner {
  background-color: #f16a44;
  width: 60%;
  /* Adjust with JavaScript */
  height: 1.5rem;
  -webkit-transition: width 3s;
  /* For Safari 3.1 to 6.0 */
  -moz-animation: width 3s;
  -o-animation: width 3s;
  -ms-transition: width 3s;
  animation: width 3s;
  transition: width 3s; }

form {
  color: red;
  font-size: 1rem; }

#donate-from {
  position: relative; }

input, select, textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 1rem; }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

label {
  width: 6em;
  margin-right: .5em;
  padding-top: 1.5em; }

.second-container {
  padding: 3rem;
  border: 2px #e0e0e0 solid; }

.formlabel {
  color: red; }

.smalltext {
  font-size: 1rem;
  color: #8e959c; }

.smalltext2 {
  position: relative;
  font-size: 1.3rem;
  color: #2eaeda; }
  .smalltext2 :hover {
    cursor: pointer; }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

#left {
  padding-right: 1rem; }

#right {
  padding-top: 1.3rem;
  padding-left: 1rem; }

.ui-datepicker-calendar {
  display: none; }

/*-------------------------------------------responsive section ----------------------------------------------*/
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    padding-left: 25vw;
    padding-right: 25vw;
    font-size: 1.2rem;
    color: #979797; } }

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 1.2rem;
    color: #979797; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 1.2rem;
    color: #979797; } }

@media (min-width: 481px) and (max-width: 767px) {
  body {
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.2rem;
    color: #979797; }
  .main-container {
    padding: 6px; }
  .second-container {
    padding: 6px;
    border: 1px #e0e0e0 solid; } }

@media (min-width: 320px) and (max-width: 480px) {
  body {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.2rem;
    color: #979797; }
  .main-container {
    padding: 4px; }
  .second-container {
    padding: 4px;
    border: 1px #e0e0e0 solid; } }

@media (min-width: 0px) and (max-width: 320px) {
  body {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.2rem;
    color: #979797; }
  .main-container {
    padding: 2px; }
  .second-container {
    padding: 2px;
    border: 1px #e0e0e0 solid; } }
